{% extends 'templates/base.html' %} 
{% block style %}

          body {background: #800a0a;} 

          .modal-container { position: fixed; display: flex; align-items: center;
                  justify-content: center; 
                  top: 0; 
                  left: 0; 
                  height: 100vh; 
                  width: 100vw; }

          .modal-box { background-color: #fff; 
                        box-shadow: 0 2px 4px rgba( 0, 0, 0, 0.2);
                  width: 40%; max-width: 500px; 
                  padding: 30px 50px;
                    border-radius: 5px; }

          .login_link {
            text-decoration: none;
          }

          .button {
            margin-top: -5px;
            background-color: #ac753a;
            border: none;
            color: white;
            padding: 10px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
          }

          .register_text {
            margin-bottom: 20px;
          }
          .form__input {
            border-radius: 6px;
            border-width: 1px;
            background-color : #f1f1f1;
            border: none;
            border-bottom: 1px solid #ffffff;
          }
          input:focus {
            outline: none;
          }
{% endblock %}

{% block content %}
    
    <div class="register_form">
      <form
        method="POST"
        action=""
        class="text-center"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="modal-container">

          <div class="modal-box">
              <h1 class="register_text">Register</h1>
                    <div class="form-floating mb-3">
                      <input
                        type="email"
                        name="email"
                        maxlength="60"
                        autofocus
                        required
                        id="id_email"
                        id="email"
                        class="form__input"
                        placeholder="Email"
                      />
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        type="text"
                        name="username"
                        maxlength="30"
                        required
                        id="id_username"
                        id="username"
                        class="form__input"
                        placeholder="Username"
                      />
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        type="password"
                        name="password1"
                        autocomplete="new-password"
                        required
                        id="id_password1"
                        id="password1"
                        class="form__input"
                        placeholder="Password"
                      />
                    </div>

                    <div class="form-floating mb-3">
                      <input
                        type="password"
                        name="password2"
                        autocomplete="new-password"
                        required
                        id="id_password2"
                        id="password2"
                        class="form__input"
                        placeholder="Confirm Password"
                      />
                    </div>
                      <input type="submit" name="Register" class="button" value="Sign up" />

                    <p> Do you have an account? <a class="login_link"href="/login/">Login</a> </p>
            </div>
       </div>
      </form>
      
    </div>
    {% endblock %}
