<!DOCTYPE html>
<html>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<style>
		.chat-messages {
			height: 400px;
			overflow-y: auto;
		}
	</style>
	<body>
		<h3>Timer</h3>
		<p id="timer">0</p>
		<h1>Room</h1>
		{% for name in room.players_username %}
		<div>
			{% if request.user.username == name %}
			<div>
				<h2>{{room.name}}</h2>
				<div id="chat-messages">
					{% for message in messages %}
					<div class="p-4 bg-gray-200 rounded-xl">
						<p class="font-semibold">{{ message.user.username }}</p>
						<p />
						<p>{{ message.content }}</p>
					</div>
					{% endfor %}
				</div>
			</div>
			<div>
				<form method="post" action="." class="flex">
					<button id="chat-message-submit">Roll Dice</button>
				</form>
				<button id="chat-message-sit" style="visibility: hidden">Sit</button>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	</body>
	{{ room.slug|json_script:"json-roomname" }}
	{{request.user.username|json_script:"json-username"}}
	<script>
		let userCount = 0;
		let competitorCount = 0;
		let firstMessage = 0;
		let counter = 0;
		var winNumber;

		const roomName = JSON.parse(
			document.getElementById("json-roomname").textContent
		);
		const userName = JSON.parse(
			document.getElementById("json-username").textContent
		);
		const chatSocket = new WebSocket(
			"ws://" + window.location.host + "/ws/" + roomName + "/"
		);

		chatSocket.onmessage = function (e) {
			console.log("onmessage");

			const data = JSON.parse(e.data);

			if (data.message) {
				if (data.username == userName) {
					data.message = data.message + userCount;
					firstMessage = firstMessage + 1;
					let html = '<div class="p-4 bg-gray-200 rounded-xl">';
					html += '<p class="font-semibold">' + data.username + "</p>";
					html += "<p>" + data.message + "</p></div>";
					document.querySelector("#chat-messages").innerHTML += html;

					if (data.message > 21) {
						document.getElementById("chat-message-submit").style.visibility =
							"hidden";
						console.log("You Lost");
					} else if (data.message > 15) {
						document.getElementById("chat-message-sit").style.visibility =
							"visible";
					}
					userCount = data.message;
					console.log("First Message " + firstMessage);
					console.log(userCount);
				} else {
					data.message = data.message + competitorCount;
					firstMessage = firstMessage + 1;
					let html = '<div class="p-4 bg-gray-200 rounded-xl">';
					html += '<p class="font-semibold">' + data.username + "</p>";
					html += "<p>" + data.message + "</p></div>";
					document.querySelector("#chat-messages").innerHTML += html;
					competitorCount = data.message;
				}

				if (firstMessage == 1) {
					console.log(" First Message == 1");
					setInterval(timeIt, 1000);
				}
			} else {
				alert("The message was empty!");
			}
		};

		chatSocket.onclose = function (e) {
			console.log("onclose");
		};

		//
		document.querySelector("#chat-message-submit").onclick = function (e) {
			e.preventDefault();

			//	const messageInputDom = randomIntFromInterval(1, 6);
			const message = randomIntFromInterval(1, 6);

			chatSocket.send(
				JSON.stringify({
					message: message,
					username: userName,
					room: roomName,
				})
			);

			//messageInputDom.value = "";
			return false;
		};

		function randomIntFromInterval(min, max) {
			// min and max included
			return Math.floor(Math.random() * (max - min + 1) + min);
		}
		const rndInt = randomIntFromInterval(1, 6);

		document.getElementById("chat-message-sit").onclick = function (e) {
			document.getElementById("chat-message-submit").style.visibility =
				"hidden";
			document.getElementById("chat-message-sit").style.visibility = "hidden";
			console.log("You Lost");
		};

		function winnerOrLoser() {
			if (userCount > competitorCount && userCount < 21) {
				return 0;
			} else if (userCount > competitorCount && userCount > 21) {
				return 1;
			} else if (userCount == competitorCount && userCount < 21) {
				return 2;
			} else if (userCount == competitorCount && userCount == 21) {
				return 2;
			} else if (userCount < competitorCount && competitorCount < 21) {
				return 1;
			} else if (userCount < competitorCount && competitorCount == 21) {
				return 1;
			} else if (userCount < competitorCount && competitorCount > 21) {
				return 0;
			} else if (userCount > competitorCount && userCount == 21) {
				return 0;
			}
		}

		function timeIt() {
			counter = counter + 1;
			document.getElementById("timer").innerHTML = counter;

			if (counter == 5) {
				winNumber = winnerOrLoser();

				loadWinnnerOrLosser();
			}

			function loadWinnnerOrLosser(event) {
				$.ajax({
					url: "{% url 'finish_bet' %}",
					type: "POST",
					data: {
						win_number: winNumber,
						csrfmiddlewaretoken: "{{ csrf_token }}",
					},
					dataType: "json",
					success: function (json) {},
				});
			}
		}
	</script>
</html>
